* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  color: ghostwhite;
  text-align: center;
  font-family: tahoma;
  margin: 0;
  background-image: url("http://i.imgur.com/in8OrEk.jpg");
  background-size: 100%;
}

nav {
  width: 100%;
  overflow: hidden;
  height: 80px;
  line-height: 80px;
}

input {
  display: block;
  margin: 10px auto;
}

nav h1 {
  margin: 0;
  font-size: 50px;
}

.col {
  float: left;
  padding: 0 10px;
}

.col-4 {
  width: 33.3333333333%;
  width: -webkit-calc( 100% / 3 );
  width: -moz-calc( 100% / 3 );
  width: -ms-calc( 100% / 3 );
  width: -o-calc( 100% / 3 );
  width: calc( 100% / 3 );
}

.people, .position, .map {
  overflow: auto;

  height: -webkit-calc( 100vh - 80px );
  height: -moz-calc( 100vh - 80px );
  height: -ms-calc( 100vh - 80px );
  height: -o-calc( 100vh - 80px );
  height: calc( 100vh - 80px );
}

.content img {
  display: block;
  max-width: 100%;
  margin: 5px auto;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
