<h1>Movie Search</h1>


<form action="/search_results" method="GET">
  <label>What movie do you want to search for?</label>
  <input type="text" name="t">



  <input type="submit" value="Search">
</form>
