<h2>Secret Number Game!</h2>

<h4>Guess a number between 1 and 10!</h4>
<%= form_tag("/games/secret_number/", method: "get") do %>
    <%= number_field_tag(:guess, params[:guess]) %>
    <%= submit_tag("Guess", class: "submit-btn") %>
<% end %>

<% if(@guess) %>
    <p>You guessed: <%= @guess %></p>
    <% if(@guess.to_i == @number_to_guess) %>
        <p>You guessed correctly!</p>
    <% else %>
        <p>Keep guessing!</p>
    <% end %>
<% end %>