<!DOCTYPE html>
<html>
  <head>
    <title>VenueApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <!-- <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> -->
      <a href="/">Home</a>
      <a href="/venues">Venue List</a>
      <a href="/venues/new">Add a Venue</a>
    </nav>

    <hr>
    <%= yield %>
    <hr>

  </body>
</html>
