html, body {
  font-size: 10px;
  transition: font-size 1s;
  margin: 0;
}

.container {
  font-size: 20px;
}

.chain {
  font-size: 40px;
}

h1 {
  font-size: 3rem; /* 10px * 3 === 30px */
}

h2 {
  font-size: 2.5rem; /* 10px * 2.5 === 25px */
}

h4 {
  font-size: 2rem; /* 10px * 2 === 20px */
}

img {
  width: 50rem; /* HTML
}

p {
  font-size: 1.6em; /* 10px * 1.6 === 16px */
}

/* Thr only time to apply these styles is if the width is 300px or over ( the minimum width to apply these styles) */
body {
  background: hotpink;
}
  @media (min-width: 300px ) {

  body {
    background: lightslategrey;
  }
}
  @media (min-width: 600px ) {

  body {
    background: chartreuse;
  }
}

h1 {
  color: #FF0000;
}

/* width <= 300px */
@media (max-width: 300px) {

h1 {
  color: #00FF00;
  }
}

/* width => 650px */
@@media (max-width: 650px) and (min-width: 301px) {

h1 {
  color: #0000FF;
  }
}


/*
h1
By default, it should have the colour #FF0000
if the page is under 300px wide, the colour should be #00FF00
if the page is under 650px wide, the colour should be #0000FF



*/





















s
