<h1>About</h1>
<h2>Secret Number</h2>
<p>
  What number do you think the computer is guessing?
</p>
<p>Guess by clicking a number between 1-10.</p>

<h2>Magic 8 Ball Game</h2>
<p>
  The magic 8 ball will tell your fortune.
</p>
<p>
  Type your question and click, Shake the Ball to find out what it is.
</p>

<h2>Rock Scissors Paper</h2>
<p>
  The legendary game of Rock, Scissors Paper returns to Game Centre.
</p>
<p>Compete against the computer in this skillful game of choosing between Rock, Scissors or Paper.</p>
