<h1>Game Centre</h1>
<p>Choose a game to play</p>
<p><a href="/games/secret">Secret Number Game</a></p>
<p><a href="/games/magic">Magic 8 Ball Game</a></p>
<p><a href="/games/rock_paper_scissors">Rock Paper Scissors Game</a></p>
