<h1>Game Centre</h1>
<p>Choose a game to play</p>
<p><a class="home" href="/games/secret">Secret Number</a></p>
<p><a class="home" href="/games/magic">Magic 8 Ball</a></p>
<p><a class="home" href="/games/rock_paper_scissors">Rock Paper Scissors</a></p>
