<!DOCTYPE html>
<html>
  <head>
    <title>GuitarApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/guitars">Guitar List</a>
      <a href="/guitars/new">Add a guitar</a>
    </nav>

    <hr>
    <%= yield %>
    <hr>
  </body>
</html>
