.DS_Store
*/.DS_Store
.DS_Store?
*/.DS_Store?
*/.DS_Store
*/*/.DS_Store
**/*/.DS_Store
*/.DS_Store?
*/*/.DS_Store?
**/*/.DS_Store?
**/elm-stuff
**/elm-stuff/*
*/elm-stuff
*/elm-stuff/*
*/elm.js
elm-stuff/*
elm.js
hidden
*/hidden
hidden/*
*/hidden/*
Hidden
*/Hidden
Hidden/*
*/Hidden/*
Private
*/Private
Private/*
*/Private/*
private
*/private
private/*
*/private/*
build
*/build
build/*
*/build/*
_build
*/_build
**/_build
_build/*
*/_build/*
**/_build/*
dist
*/dist
dist/*
*/dist/*
node_modules
**/node_modules
*/node_modules
node_modules
node_modules/*
*/node_modules/*
**/node_modules/*
**/*/node_modules/*
jspm_packages
*/jspm_packages
jspm_packages/*
*/jspm_packages/*
._*
*/._*
.Spotlight-V100
*/.Spotlight-V100
.Trashes
*/.Trashes
ehthumbs.db
*/ehthumbs.db
Thumbs.db
*/Thumbs.db
Icon
*/Icon
Icon\r\r
*/Icon\r\r
Icon?
*/Icon?
Icon^M^M
*/Icon^M^M
.VolumeIcon.icns
*/.VolumeIcon.icns
.fseventsd
*/.fseventsd
logs
*/logs
*.log
*/*.log
npm-debug.log*
*/npm-debug.log*
pids
*/pids
*.pid
*/*.pid
*.seed
*/*.seed
*.pid.lock
*/*.pid.lock
lib-cov
*/lib-cov
coverage
*/coverage
.nyc_output
*/.nyc_output
.grunt
*/.grunt
bower_components
*/bower_components
.lock-wscript
*/.lock-wscript
build/Release
*/build/Release
.npm
*/.npm
.eslintcache
*/.eslintcache
.node_repl_history
*/.node_repl_history
.yarn-integrity
*/.yarn-integrity
.env
*/.env
*.tgz
*/*.tgz
*.com
*/*.com
*.class
*/*.class
*.dll
*/*.dll
*.exe
*/*.exe
*.o
*/*.o
*.so
*/*.so
*.7z
*/*.7z
*.dmg
*/*.dmg
*.gz
*/*.gz
*.iso
*/*.iso
*.jar
*/*.jar
*.rar
*/*.rar
*.tar
*/*.tar
*.zip
*/*.zip
*.log
*/*.log
*.sql
*/*.sql
*.sqlite
*/*.sqlite
.opt-in
*/.opt-in
*/logs
logs
*/log
log
