body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

li {
    list-style: none;
}

form {
    padding-top: 20px;
}
