/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

.date {
  color: dodgerblue;
  margin-bottom: -10px
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  color: #20222a;
}

div {
  padding-left: 245px;
  padding-right: 245px;
}

.media {
  border: 4px solid lightgrey;
  padding: 1px;
}

.main-image-one {
  width: 945px;
}
