<h4>Service Person Booking</h4>
<div class="container">
  <div class="row">
  <% @userall.each do |u| %>
    <div class="person">
      <% link_to @userall, user_path(u) %>
        <p><%= u.image %></p>
        <p><%= u.name %></p>
        <p><%= u.email %></p>
        <p><%= u.location %></p>
          <hr>
    </div>
      <% end %>
  </div>

</div>
