<h1>I am a magic ball</h1>

<form>
  <p>
    Ask the Magic 8 Ball a question!
  </p>

  <input type="search" name="question" placeholder="Please ask a question">

  <button type="button" name="button">
    Submit
  </button>

   <p><%= @answer %></p>

</form>
