<h1>Secret Number Game</h1>

<!-- Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view. -->
<!-- <p>
   Random number is: <%= @random_num %>
</p> -->
<p>
  Your number is: <%= @chosen_num %>
</p>

<p>
  Result: <%= @result %>
</p>
