* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

.container {
  min-height: 100vh;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  background: gray;
  overflow: hidden;
  padding: 5px 10px;
}

.landingPage {
  background-image: url("../images/organ.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.details {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}

.column {
  transition: width 0.5s;
  box-sizing: border-box;
  float: left;
  min-height: 50px;
}

.lg-col-4 {
  width: calc( 100% / 3 );
}

.don {
  display: block;
  margin: 10px auto;
  width: 80%;
  border-radius: 0 5px 0 5px;
}
