<h2>Guess the number</h2>

<div class="number"><a href="/numberguess/1">1</a></div>
<div class="number"><a href="/numberguess/2">2</a></div>
<div class="number"><a href="/numberguess/3">3</a></div>
<div class="number"><a href="/numberguess/4">4</a></div>
<div class="number"><a href="/numberguess/5">5</a></div>
<div class="number"><a href="/numberguess/6">6</a></div>
<div class="number"><a href="/numberguess/7">7</a></div>
<div class="number"><a href="/numberguess/8">8</a></div>
<div class="number"><a href="/numberguess/9">9</a></div>


<p><%= @message %></p>
<p><%= @robot_number %></p>
