<div class="background">
  <div class="row_center">
      <a id="home_image"><%= image_tag "dogrun.png" %></a>
      <h5 class="header col s12 light">What is the the location you looking for PetSitter?</h5>
  </div>
    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Sitters" %>
    <%= submit_tag 'Search', {:name => nil, :class => "searchButton btn-floating btn-large waves-effect blue", required: true} %>
    <% end %>
</div>

//Auto Complete Google places

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxeAbvMpzSxjfYXVRsxH9F1mmUjiKZ9OU&libraries=places"></script>
<script>
  var input = document.getElementById('search');
  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }
    var address = '';
    if (place.address_components) {
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }
  });
</script>
