<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>


  <!-- <blockquote class="imgur-embed-pub" lang="en" data-id="a/jWJOR"><a href="//imgur.com/jWJOR"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->
  <nav>
    <a href="/">Search</a>
    <a href="/about_movie">About Movie</a>
  </nav>

  <img src="/scene.png" class="board">

  <hr>
  <%= yield %>
  <hr>


</body>
</html>
