<h1>Find a movie</h1>
<hr>

<form action="/about_movie" method="GET">
   <label>What movie would you like?</label>
   <hr>

   <input type="quert" name="title" required>
   <input type="submit" value="Search">
   <hr>

 </form>
