
<h2>This is the about page </h2>

<img src="http://fillmurray.com/200/200" alt="">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem deserunt iure dolorum similique ex sed. Totam itaque eligendi saepe deleniti. Quia modi debitis voluptas deleniti mollitia repellendus id veritatis quas?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem deserunt iure dolorum similique ex sed. Totam itaque eligendi saepe deleniti. Quia modi debitis voluptas deleniti mollitia repellendus id veritatis quas?</p>
