
<h1>This should show a search form</h1>

<form action="/search_results" method="GET">
  <labe>What do you seek?</label>
  <input type="text" name="query">

  <input type="Submit" value="Search">
</form>
