
<h1>
  <%= @username %>'s Profile'
  Someones Profile
</h1>

<!--list all the this person's blog posts -->
<!-- list contact details -->

<img src="http://fillmurray.com/200/200" alt="">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam beatae veritatis excepturi labore dignissimos eaque ullam, eos tempora modi deleniti nostrum praesentium totam tenetur ab. Minima enim obcaecati ducimus vitae.</p>
