<h2>Create a Ocean Form</h2>

<form action="/oceans" method="POST">
    <!-- p*5>label+input -->
    <p>
        <label for="">Name:</label>
        <input type="text" name="ocean[name]">
    </p>
    <p>
        <label for="">Image:</label>
        <input type="url" name="ocean[image]">
    </p>
    <p>
        <label for="">Area:</label>
        <input type="number" name="ocean[area]">
    </p>
    <p>
        <label for="">Depth:</label>
        <input type="number" name="ocean[depth]">
    </p>

    <input type="submit" value="Create Ocean">
</form>
