<div class="add">
  
<div class="controls">
  <a href="/engineer/new">Add my name to the list of producers</a>
</div>

<div class="controls">
  <a href="/bands/new">Add artist to the list of artists</a>
</div>

</div>
