<h1>Bands</h1>
<p>A list of bands available to record</p>
<ul>

  <% @all_bands.each do |band| %>

  <li><a href="/bands/<%= band["id"] %>"><%= band["name"] %></a></li>

  <% end %>

</ul>

<div class="controls">
  <a href="/bands/new">Add my band</a>
</div>
