<h1>I'm a new artist</h1>

<form action="/bands" method="post">
  <p>
    <label>Artist name:</label>
    <input type="text" name="name" placeholder="Band name">
  </p>
  <p>
    <label>Genre:</label>
    <input type="text" name="genre" placeholder="Music genre">
  </p>
  <p>
    <label>Bio:</label>
    <input type="text" name="bio" placeholder="Short bio">
  </p>
  <p>
    <label>Artist image:</label>
    <input type="text" name="image" placeholder="Image URL">
  </p>
  <input type="submit" value="Add artist">

</form>
