<h1>I'm a new band</h1>
<p>This is where the form to create a band will be </p>

<form action="/bands" method="post">
  <p>
    <label>Band name:</label>
    <input type="text" name="name" placeholder="Band name">
  </p>
  <p>
    <label>Genre:</label>
    <input type="text" name="genre" placeholder="Music genre">
  </p>
  <p>
    <label>Bio:</label>
    <input type="text" name="bio" placeholder="Short bio">
  </p>
  <p>
    <label>Band image:</label>
    <input type="text" name="image" placeholder="Image">
  </p>
  <input type="submit" value="Add band">

</form>
