<h1>I'm a new producer</h1>

<form action="/engineers" method="post">
  <p>
    <label>Producer name:</label>
    <input type="text" name="name" placeholder="name">
  </p>
    <label>Bio:</label>
    <input type="text" name="bio" placeholder="Short bio">
  </p>
  <p>
    <label>Gear:</label>
    <input type="text" name="gear" placeholder="Gear/Equipment">
  </p>
  <p>
  <p>
    <label>Image:</label>
    <input type="text" name="image" placeholder="Image URL">
  </p>
  <input type="submit" value="Add engineer">

</form>
