<h1 class="main">オーディオODIOオーディオ</h1>

<div class="start">
  <a href="/bands">Record me</a>
</div>

<div class="start">
  <a href="/engineers">Record you</a>
</div>

<div class="start">
  <a href="/add">Add me</a>
</div>
