<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <title>オーディオODIOオーディオ</title>

</head>
<body>
<div class="content">

  <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/bands">Artists</a></li>
    <li><a href="/engineers">Producers</a></li>
    </ul>
  </nav>


  <div class="container">

  <%= yield %>

  </div>

</div>


</body>
</html>
