
body {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}

header {
  height: 100px;
  width: 100%;
  background: black;
  position: absolute;
}

.nav-bar {
  color: white;
  display: inline;
  position: relative;
  top: 45px;
  left: 430px;
}

li {
  display: inline;
}

text {
  position: absolute;
}

/*
  BACKGROUND IMAGES:
*/
.background {
  background-size: auto;
  width: 100%;
  padding-bottom: 25px;
}

.trivia {
  width: 100%;
  height: 811px;
  padding-bottom: 25px;
  position: absolute;
}

.trivia-text {
  position: relative;
  text-align: center;
  color: white;
  top: 175px;
}

.intro {
  position: relative;
  top: 250px;
  left: 400px;
  font-size: 30px;
  color: white;
}

.intro-bio {
  position: relative;
  top: 600px;
  left: 200px;
  font-size: 20px;
  color: white;
}

img.dp {
  top: 40%;
  left: 40%;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 100px;
  transition: top 1.0s
}

.dp-anim:hover {
  top: 30px;
}

bio {
  color: white;
}

img.hometown {
  width: 100%;
  height: 811px;
  padding-bottom: 25px;
}

footer {
  height: 100;
  width: 100%;
  background: black;
}
