* {
  box-sizing: border-box;
}

body {
  background-color: #4CB5F5;
}

.container {
  border: 2px green solid;
  width: 80vw;
  margin: auto;
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTGxOUdR1H2rV6B_ubG2W7h4feCvvsalW2tuSkxuDIJR2r7IzzJ");
  color: #FFF;
  font-family: 'Roboto', sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34675C;
  font-size: 16px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 20px 16px;;
}

.content {
  // border: 2px blue solid;
  width: 70vw;
  height: 90vh;
  margin: 20px auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  color: #FFF;
  transition: font-size 0.2s;
  padding: 0 5px;
}

a:hover {
  font-size: 18px;
}

h1 {
  padding-bottom: 10px;
}

h2 {
  padding: 10px 0;
}

p {
  font-size: 20px;
  padding-top: 10px;
}

.number {
  font-size: 30px;
  transition: font-size 0.2s;
  padding: 0 30px;
  border: 2px white solid;
  border-radius: 0 5px 0 5px;
}

.number:hover {
  font-size: 40px;
}

.rsp {
  font-size: 30px;
  border: 2px white solid;
  border-radius: 0 5px 0 5px;
  margin-left: 10px;
}

.rsp:hover {
  font-size: 40px;
}

.home {
  border: 2px white solid;
  border-radius: 0 5px 0 5px;

}
