<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>
</head>
<body>

  <h1>My Book Application</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/books">All Books</a>
    <a href="/books/new">Create a book</a>

  </nav>

  <hr>
    <%= yield %>
  <hr>

</body>
</html>
