* {
  box-sizing: border-box;
  /* width typically set  and then it changes when padding is added. border box sizing makes sure that hte width includes padding and border */
}

body {
  background-color: ghostwhite;
  /*background-image: url(/Users/simonetrucco/wdi-21/TicTacToe/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;*/
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  }

h1{
  text-align: center;
  font-size: 48px;
}

div {

  display: block;
  margin: auto;
  width: 600px;

}

.square {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 3px black solid;
  background-image: url(http://fillmurray.com/150/150);
  background-size: cover;
  float: left;
  display: inline-block;
  margin: 10px;
}
