<form>
  <input type="text" id="searchFlickr" placeholder="Search...">
  <input type="submit" value="Search Flickr">
</form>

<div class="results">

</div>

<input type="button" id="nextPage" value="Next Page">
