<h2>This is the result game page</h2>
<p> Computer's choice: <%= @secret_number %> </p>

<p>Your selection: <%= @number %></p>


<p>Result: <%= @result %></p>

<a href="/games/secret">Play again?</a>
