<h1>Secret Number</h1>


<p>Guess what number the computer is thinking of?</p>
<a class="number" href="/games/secret/1">1</a>
<a class="number" href="/games/secret/2">2</a>
<a class="number" href="/games/secret/3">3</a>
<a class="number" href="/games/secret/4">4</a>
<a class="number" href="/games/secret/5">5</a>
<a class="number" href="/games/secret/6">6</a>
<a class="number" href="/games/secret/7">7</a>
<a class="number" href="/games/secret/8">8</a>
<a class="number" href="/games/secret/9">9</a>
<a class="number" href="/games/secret/10">10</a>
