<!DOCTYPE html>
<html>
  <head>
    <title>SecretNumber</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Secret Number game shhhhhh</h1>
  <nav>
    <a href="/home">Home</a>
  </nav>
    <hr>
    <%= yield %>
    <hr>
  </body>
</html>
