<h1>Rock Scissors Paper</h1>
<p>What do you want to throw?</p>
<a href="/games/rock_paper_scissors/Rock">Rock</a>
<a href="/games/rock_paper_scissors/Paper">Paper</a>
<a href="/games/rock_paper_scissors/Scissors">Scissors</a>
