<h1>You searched for '<%= @movie_title %>'</h1>
<h3>I found the following movies:</h3>
<ul>
    <% @search_results.each do |title| %>
        <li>
            <a href="/full_result/<%= title["Title"] %>"><%= title["Title"] %></a>
        </li>
    <%end%>
</ul>
