<form>
  <input type="text" id="searchFlickr" placeholder="Search...">
  <input type="submit" value="Search Flickr">
</form>

<div class="results"></div>

<button id="previous">Previous Page</button>
<button id="next">Next Page</button>
