// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: burlywood;
  font-size: 16px;
  text-align: center;
  text-shadow: 1px, 1px, 1px, #000;
}
