<h1>this should show a search form</h1>

<!-- I need to create a form
  Send information to the server
  I need to specify an HTTP Method or Verb
  I need to specify a path that I want to communicate with
  I need to specify how I want to store the data
  I need a submit button
  It need two attributes
  - action == path
  - method == http Msthod or verb
  -->

  <form action="/search_results" method="GET">
    <label>What do you seek?</label>
      <br>
    <input type="text" name="query">
      <br>
    <input type="text" name="first_name">
      <br>
    <input type="text" name="last_name">
      <br>
    <input type="submit" value="Search">
  </form>
