<h2>Magic 8 ball</h2>
<p>Ask me a question?</p>
<!-- <form action="/search" method="get">
  <input type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input id="question" name="q" type="text" />
  <input name="commit" type="submit" value="Ask" />
</form> -->
