<h2>This is the result game page</h2>
<p> Computer's choice: <%= @secret_number %> </p>

<p>Your selection: <%= @number %></p>


<!-- <p>This is where the list of numbers for the user to click will be</p>
<a href="/secret/1">1</a>
<a href="/secret/2">2</a>
<a href="/secret/3">3</a>
<a href="/secret/4">4</a>
<a href="/secret/5">5</a>
<a href="/secret/6">6</a>
<a href="/secret/7">7</a>
<a href="/secret/8">8</a>
<a href="/secret/9">9</a>
<a href="/secret/10">10</a> -->

<p>Result: <%= @result %></p>

<a href="/secret">Play again?</a>
